name: CI

on:
    pull_request: ~

jobs:
    cs:
        name: Coding Style
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v3

            - name: Install the dependencies
              run: composer update --no-interaction --no-suggest

            - name: Run the CS fixer
              run: composer ci-cs-fixer

    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v3

            - name: Install the dependencies
              run: composer update --no-interaction --no-suggest

            - name: Run PHPStan
              run: composer phpstan

    tests:
        name: 'PHP ${{ matrix.php }} (Composer Flags: ${{ matrix.composer }})'
        runs-on: ubuntu-latest
        # Share the bash between the steps:
        defaults:
            run:
                shell: bash -l {0}
        strategy:
            fail-fast: false
            matrix:
                sqlite: ['3.16.0', 'default']
                php: ['8.3', '8.4', '8.5'] # Only test supported versions
                composer: ['--prefer-stable', '--prefer-lowest']
        steps:
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  coverage: none

            - name: Checkout
              uses: actions/checkout@v3

            - name: Install the dependencies
              run: composer update --no-interaction --no-suggest ${{ matrix.composer }}

            - name: Run the unit tests
              run: composer tests
